body {
    margin: auto;
    min-height: 100vh;
 

}
.gameboard {
    display: grid;
    grid-template-columns: auto auto auto;
   
    
   
    
}




.slot {
    background: hsl(0, 59%, 41%);
    border: 10px solid  hsl(0, 37%, 62%);
    border-radius: 20px;
    width: 10em;
    height: 10em;
    
    margin: 5px;
    text-align: center;
    
   
    
}

.active {
    background: black;
    transition: all 0.5s ease
  }

.player_div {
    background: hsl(0, 76%, 18%);
    color: white;
    padding: 20px;
    margin: 10px;
}  